<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gebril.yamen.pff">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/fullScreen">
        <activity
            android:name=".activities.activity.splash"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.activity.OnBoarding" />
        <activity android:name=".activities.activity.loginActivity" />
        <activity
            android:name=".activities.activity.RegisterationActivity"
            android:theme="@style/RegistrationTheme" >

        </activity>
        <activity android:name=".activities.activity.MainActivity">

        </activity>
        <activity android:name=".activities.activity.SearchActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".activities.activity.AboutActivity" />
        <activity android:name=".activities.activity.CreateMatchActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>